.dot {
    width: 7vw;
    height: 7vw;
    line-height: 7vw;
    border: 1px dotted gray;
    margin: 1vw;
    border-radius: 2vw;
    font-size: 4vw;
}

@media screen and (min-width: 800px) {
    .dot {
        width: 3vw;
        height: 3vw;
        margin: 0.5vw;
        line-height: 3vw;
        border-radius: 1vw;
        font-size: 2vw;
    }
}

.filled {
    background-color: cadetblue;
}

.wrong {
    background-color: darkred;
}

